<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<div class="custom-navbar">
    <div class="container-fluid d-flex align-items-center">
        <div>
            <p class="page-title" style="font-size:xx-large; padding-top: 50px;">Easy Ordering</p>
            <p class="page-title" style="font-size:large;">Make your orders easier</p>
        </div>
    
        <div class="d-flex align-items-center ms-auto text-white">
            <!-- 用户名 -->
            <div class="nav-div" style="margin-right: 20px;">
                Welcome, <strong style="color:crimson ;"> <%= s_username %> </strong>
            </div>

            <a class="nav-menu" href="/logout">Logout</a>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid d-flex align-items-center">
            <!-- 导航菜单 -->
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/accounts">Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/QRcode">QRcode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/updateAccount">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

