<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<div class="custom-navbar">
    <div class="container-fluid d-flex align-items-center">
        <div>
            <p class="page-title" style="font-size:xx-large; padding-top: 50px;">Easy Ordering</p>
            <p class="page-title" style="font-size:large;">Make your orders easier</p>
        </div>
    
        <div class="d-flex align-items-center ms-auto text-white">
            <!-- 用户名 -->
            <div class="nav-div" style="margin-right: 20px;">
                Welcome, <strong style="color:crimson ;"> <%= s_username %> </strong>
            </div>

            <a class="nav-link nav-menu" href="/logout">Logout</a>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid d-flex align-items-center">
            <!-- 导航菜单 -->
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-menu no-caret" href="#" id="menuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                    <ul class="dropdown-menu custom-dropdown" aria-labelledby="menuDropdown">
                        <li><a class="dropdown-item" href="/overviewMenu">Overview</a></li>
                        <li><a class="dropdown-item" href="/customizeFoodtype">Food Type</a></li>
                        <li><a class="dropdown-item" href="/customizeMenu">Menu</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/allAccounts">Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/QRcode">QRcode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/updateAccount">My account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

