<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>
        <title>EasyOrdering</title>
</head>

<body>
    <%- include('partials/navbarSelection.ejs') %>

        <div class="container">
            <h1 class="h1-top">Top 3 Items</h1>
            <h4>Main</h4>
        </div>

        <div class="footer">
            <%- include('partials/footer.ejs') %>
        </div>

</body>
</html>


