<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>
        <title>Reset Password</title>
</head>

<body>
        <%- include('partials/navbarGuest.ejs') %>
    <div style="height: 60vh; display: flex; align-items: center; justify-content: center;">
        <div class="login-card">
            <h3 class="text-center mb-4">Please input email</h3>
    
            <form action="/reset" method="POST">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <div class="input-group">
                        <input name="email" type="text" class="form-control" placeholder="Enter email" required />
                    </div>
                </div>
    
                <div class="d-grid mb-3">
                    <button class="btn btn-primary" type="submit">Reset</button>
                </div>
            </form>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>


</body>
</html>


