.custom-navbar {
  height: 250px;
  background-image: url('/public/images/Title.jpg');
  background-size: cover;         /* 自动缩放填充整个区域 */
  background-position: center;    /* 图片居中显示 */
  background-repeat: no-repeat;   /* 不重复平铺 */
}

.page-title {
  text-align:left; 
  color:white; 
  font-weight: bold;      /* 可选：加粗字体 */
  margin-left: 5px;
  margin-bottom: 0;
}
.nav-menu {
  text-align: left;
  margin-left: 10px;
  margin-top: 50px;
  color: white;
  font-size: medium;
  font-weight: bold;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.5);   /* 黑色+50%透明 */
}

.nav-link.nav-menu:hover {
  color: #ffcc00;           /* 改变字体颜色 */
  background-color: #333;   /* 可选：改变背景颜色 */
  text-decoration: underline; /* 可选：添加下划线 */
}

.nav-div {
  background-color: rgba(0, 0, 0, 0.5);   /* 黑色+50%透明 */
  margin-top: 50px;
}

.h1-top {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-card {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.form-control::placeholder {
  color: #aaa;
}

.userinfo-div {
  margin-top: 10px; 
  align-items: center;
}

.userinfo-div label.form-label {
    width: 180px; /* 或你需要的固定宽度 */
    text-align: right;
}

.userinfo-div label.form-label-err {
    min-width: 100px; /* 或你需要的固定宽度 */
    text-align: left; 
}

/* 去掉 Bootstrap 默认小箭头 */
.no-caret::after {
    display: none !important;
}

/* 保持 nav-menu 在 hover 时仍是白色 */
.navbar .nav-link.nav-menu {
    color: white !important;
}

.navbar .nav-link.nav-menu:hover {
    color: #ffc107 !important;  /* 亮黄色，可改成你想要的颜色 */
}

/* 自定义下拉菜单外观 */
.custom-dropdown {
    border-radius: 8px;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 180px;
    background-color: #fff;
    overflow: hidden;
}

.custom-dropdown .dropdown-item {
  padding: 10px 16px;
  transition: background-color 0.5s ease;
  font-size: small;
  font-weight: bold;
  font-family: 'Arial', sans-serif; 
}

.custom-dropdown .dropdown-item:hover {
  background-color: #0d6efd;
  color: white;
  font-size: small;
  font-weight: bold;
  transition: 0.5s;
  font-family: 'Arial', sans-serif; 
}

.footer {
  padding-top: 20px;
}

.category-btn.active {
  background-color: #0d6efd;
  color: white;
}

.table td, .table th {
  vertical-align: middle; /* 垂直居中 */
}